<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>krt_hit_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{514, 2}, {148, 162}}</string>
			<key>offset</key>
			<string>{4, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30, 5}, {148, 162}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_hit_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{192, 2}, {160, 164}}</string>
			<key>offset</key>
			<string>{4, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24, 0}, {160, 164}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_hit_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{354, 2}, {158, 164}}</string>
			<key>offset</key>
			<string>{3, 17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24, 1}, {158, 164}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_hit_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{834, 2}, {154, 158}}</string>
			<key>offset</key>
			<string>{2, 21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25, 0}, {154, 158}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_hit_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{826, 196}, {148, 152}}</string>
			<key>offset</key>
			<string>{2, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 33}, {148, 152}}</string>
			<key>sourceSize</key>
			<string>{200, 236}</string>
		</dict>
		<key>krt_hit_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{676, 196}, {148, 152}}</string>
			<key>offset</key>
			<string>{2, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 33}, {148, 152}}</string>
			<key>sourceSize</key>
			<string>{200, 236}</string>
		</dict>
		<key>krt_hit_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{440, 356}, {152, 140}}</string>
			<key>offset</key>
			<string>{5, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29, 44}, {152, 140}}</string>
			<key>sourceSize</key>
			<string>{200, 236}</string>
		</dict>
		<key>krt_hit_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{594, 356}, {152, 140}}</string>
			<key>offset</key>
			<string>{5, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29, 44}, {152, 140}}</string>
			<key>sourceSize</key>
			<string>{200, 236}</string>
		</dict>
		<key>krt_hit_2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 196}, {162, 158}}</string>
			<key>offset</key>
			<string>{2, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21, 44}, {162, 158}}</string>
			<key>sourceSize</key>
			<string>{200, 236}</string>
		</dict>
		<key>krt_hit_2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {188, 192}}</string>
			<key>offset</key>
			<string>{6, -22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12, 44}, {188, 192}}</string>
			<key>sourceSize</key>
			<string>{200, 236}</string>
		</dict>
		<key>krt_hit_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{506, 196}, {168, 154}}</string>
			<key>offset</key>
			<string>{16, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32, 11}, {168, 154}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_hit_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{336, 196}, {168, 154}}</string>
			<key>offset</key>
			<string>{16, 12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32, 11}, {168, 154}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_hit_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{166, 196}, {168, 156}}</string>
			<key>offset</key>
			<string>{16, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32, 9}, {168, 156}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_hit_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{664, 2}, {168, 160}}</string>
			<key>offset</key>
			<string>{16, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32, 6}, {168, 160}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_loop_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{480, 508}, {144, 132}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 34}, {144, 132}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_loop_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{792, 508}, {144, 124}}</string>
			<key>offset</key>
			<string>{0, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 42}, {144, 124}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_loop_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 356}, {144, 150}}</string>
			<key>offset</key>
			<string>{0, 10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 15}, {144, 150}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_loop_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{294, 356}, {144, 144}}</string>
			<key>offset</key>
			<string>{0, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 22}, {144, 144}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_loop_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{148, 508}, {164, 132}}</string>
			<key>offset</key>
			<string>{8, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26, 36}, {164, 132}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_loop_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{626, 508}, {164, 126}}</string>
			<key>offset</key>
			<string>{8, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26, 42}, {164, 126}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{680, 762}, {104, 50}}</string>
			<key>offset</key>
			<string>{1, -28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49, 103}, {104, 50}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{558, 762}, {120, 80}}</string>
			<key>offset</key>
			<string>{8, -19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48, 79}, {120, 80}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{424, 762}, {132, 86}}</string>
			<key>offset</key>
			<string>{7, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41, 74}, {132, 86}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 762}, {142, 98}}</string>
			<key>offset</key>
			<string>{-1, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 58}, {142, 98}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{146, 762}, {142, 94}}</string>
			<key>offset</key>
			<string>{-3, -11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26, 64}, {142, 94}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 642}, {144, 118}}</string>
			<key>offset</key>
			<string>{0, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 50}, {144, 118}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 508}, {144, 132}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 34}, {144, 132}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{786, 762}, {104, 50}}</string>
			<key>offset</key>
			<string>{-5, -26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43, 101}, {104, 50}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{894, 356}, {120, 80}}</string>
			<key>offset</key>
			<string>{2, -19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42, 79}, {120, 80}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{290, 762}, {132, 86}}</string>
			<key>offset</key>
			<string>{4, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38, 74}, {132, 86}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{742, 642}, {142, 98}}</string>
			<key>offset</key>
			<string>{-1, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 58}, {142, 98}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{598, 642}, {142, 98}}</string>
			<key>offset</key>
			<string>{-3, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26, 61}, {142, 98}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{748, 356}, {144, 136}}</string>
			<key>offset</key>
			<string>{2, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30, 33}, {144, 136}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{148, 356}, {144, 150}}</string>
			<key>offset</key>
			<string>{0, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28, 17}, {144, 150}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{952, 438}, {56, 40}}</string>
			<key>offset</key>
			<string>{2, -34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74, 114}, {56, 40}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{894, 438}, {56, 68}}</string>
			<key>offset</key>
			<string>{9, -19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81, 85}, {56, 68}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{886, 642}, {88, 90}}</string>
			<key>offset</key>
			<string>{2, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58, 68}, {88, 90}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{312, 642}, {140, 110}}</string>
			<key>offset</key>
			<string>{12, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42, 58}, {140, 110}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{454, 642}, {142, 106}}</string>
			<key>offset</key>
			<string>{13, -19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42, 66}, {142, 106}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{148, 642}, {162, 114}}</string>
			<key>offset</key>
			<string>{6, -8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25, 51}, {162, 114}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>krt_objev_3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{314, 508}, {164, 132}}</string>
			<key>offset</key>
			<string>{8, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26, 32}, {164, 132}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>
