<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>krt_hit_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{164, 86}, {74, 82}}</string>
			<key>offset</key>
			<string>{2, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 2}, {74, 82}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{174, 2}, {80, 82}}</string>
			<key>offset</key>
			<string>{2, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12, 0}, {80, 82}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{256, 2}, {80, 82}}</string>
			<key>offset</key>
			<string>{2, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12, 0}, {80, 82}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 86}, {78, 80}}</string>
			<key>offset</key>
			<string>{1, 10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12, 0}, {78, 80}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 86}, {80, 74}}</string>
			<key>offset</key>
			<string>{0, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 8}, {80, 74}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{322, 86}, {80, 74}}</string>
			<key>offset</key>
			<string>{-1, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 8}, {80, 74}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{82, 86}, {80, 76}}</string>
			<key>offset</key>
			<string>{1, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 8}, {80, 76}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{404, 86}, {74, 78}}</string>
			<key>offset</key>
			<string>{1, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 7}, {74, 78}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{424, 2}, {84, 78}}</string>
			<key>offset</key>
			<string>{8, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 5}, {84, 78}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{338, 2}, {84, 78}}</string>
			<key>offset</key>
			<string>{8, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 5}, {84, 78}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {84, 80}}</string>
			<key>offset</key>
			<string>{8, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 4}, {84, 80}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_hit_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{88, 2}, {84, 80}}</string>
			<key>offset</key>
			<string>{8, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 3}, {84, 80}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_loop_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{76, 248}, {72, 66}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 17}, {72, 66}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_loop_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{76, 170}, {72, 76}}</string>
			<key>offset</key>
			<string>{0, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 8}, {72, 76}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_loop_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{234, 170}, {82, 66}}</string>
			<key>offset</key>
			<string>{4, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13, 16}, {82, 66}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 368}, {54, 26}}</string>
			<key>offset</key>
			<string>{1, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24, 51}, {54, 26}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{354, 316}, {60, 42}}</string>
			<key>offset</key>
			<string>{4, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24, 39}, {60, 42}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{444, 248}, {66, 44}}</string>
			<key>offset</key>
			<string>{4, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21, 37}, {66, 44}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{76, 316}, {72, 50}}</string>
			<key>offset</key>
			<string>{0, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 29}, {72, 50}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{150, 316}, {72, 48}}</string>
			<key>offset</key>
			<string>{-1, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13, 32}, {72, 48}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{150, 248}, {72, 60}}</string>
			<key>offset</key>
			<string>{0, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 25}, {72, 60}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 248}, {72, 66}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 17}, {72, 66}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{58, 368}, {54, 26}}</string>
			<key>offset</key>
			<string>{-2, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21, 50}, {54, 26}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 316}, {60, 42}}</string>
			<key>offset</key>
			<string>{1, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21, 39}, {60, 42}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{224, 316}, {66, 44}}</string>
			<key>offset</key>
			<string>{2, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19, 37}, {66, 44}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 316}, {72, 50}}</string>
			<key>offset</key>
			<string>{0, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 29}, {72, 50}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{370, 248}, {72, 50}}</string>
			<key>offset</key>
			<string>{-1, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13, 30}, {72, 50}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{318, 170}, {72, 68}}</string>
			<key>offset</key>
			<string>{1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 16}, {72, 68}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 170}, {72, 76}}</string>
			<key>offset</key>
			<string>{0, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 8}, {72, 76}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{444, 294}, {28, 20}}</string>
			<key>offset</key>
			<string>{1, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37, 57}, {28, 20}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{480, 86}, {30, 34}}</string>
			<key>offset</key>
			<string>{5, -9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40, 42}, {30, 34}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{416, 316}, {44, 46}}</string>
			<key>offset</key>
			<string>{1, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29, 34}, {44, 46}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{224, 248}, {70, 56}}</string>
			<key>offset</key>
			<string>{6, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21, 29}, {70, 56}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{296, 248}, {72, 54}}</string>
			<key>offset</key>
			<string>{7, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21, 33}, {72, 54}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{392, 170}, {82, 58}}</string>
			<key>offset</key>
			<string>{3, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12, 25}, {82, 58}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>krt_objev_3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{150, 170}, {82, 66}}</string>
			<key>offset</key>
			<string>{4, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13, 16}, {82, 66}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
