<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>1-1</string>
		<key>difficulty</key>
		<integer>4</integer>
		<key>mode</key>
		<integer>1</integer>
		<key>score</key>
		<integer>20</integer>
		<key>begintext</key>
		<string>Your garden is ruined. Can you defend it against mole hordes?</string>
		<key>text</key>
		<string>Great start. You&apos;ve defeated your garden...for today.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>1-2</string>
		<key>difficulty</key>
		<integer>4</integer>
		<key>mode</key>
		<integer>2</integer>
		<key>score</key>
		<integer>25</integer>
		<key>begintext</key>
		<string>You was woken up this morning by terrifying mole noise. Will you be able to get rid of them?</string>
		<key>text</key>
		<string>You&apos;re getting better. Let&apos;s hope there won&apos;t be much more moles next day!</string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>1-3</string>
		<key>difficulty</key>
		<integer>4</integer>
		<key>mode</key>
		<integer>1</integer>
		<key>score</key>
		<integer>30</integer>
		<key>begintext</key>
		<string>They got back and are ruining your garden even worse!</string>
		<key>text</key>
		<string>I&apos;m curious, why are they keep getting back? You give them no chance!</string>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>1-4</string>
		<key>difficulty</key>
		<integer>5</integer>
		<key>mode</key>
		<integer>2</integer>
		<key>score</key>
		<integer>40</integer>
		<key>begintext</key>
		<string>Mayor asked you for help in city park. Will you prove your mole-hunting skills there too?</string>
		<key>text</key>
		<string>Not so bad for beginner!</string>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>1-5</string>
		<key>difficulty</key>
		<integer>4</integer>
		<key>mode</key>
		<integer>3</integer>
		<key>score</key>
		<integer>60</integer>
		<key>begintext</key>
		<string>There are literally hordes of them in something that WAS your garden. Act while you can!</string>
		<key>text</key>
		<string>Now, your are able to defend your garden even against ninjas.</string>
	</dict>
</dict>
</plist>
