<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>button_about_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{722, 42}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_about_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{254, 206}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_back_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{454, 2}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_back_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{476, 122}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_classic_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 82}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_classic_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 248}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_continue_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{214, 2}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 7}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_continue_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{758, 206}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_facebook_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{107, 2}, {105, 35}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {105, 35}}</string>
			<key>sourceSize</key>
			<string>{117, 39}</string>
		</dict>
		<key>button_facebook_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{357, 122}, {117, 39}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 39}}</string>
			<key>sourceSize</key>
			<string>{117, 39}</string>
		</dict>
		<key>button_mainmenu_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 42}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 6}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_mainmenu_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{254, 248}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_molemadness_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 82}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_molemadness_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 164}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_newstory_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{722, 82}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 6}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_newstory_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{758, 164}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_nextlevel_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{482, 42}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 6}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_nextlevel_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{728, 122}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_play_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 42}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 6}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_play_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{506, 164}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_playagain_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{694, 2}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 7}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_playagain_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{254, 164}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_settings_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{482, 82}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_settings_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 206}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_timeattack_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 122}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_timeattack_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{506, 206}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_twitter_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {103, 35}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 2}, {103, 35}}</string>
			<key>sourceSize</key>
			<string>{113, 39}</string>
		</dict>
		<key>button_twitter_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 122}, {113, 39}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {113, 39}}</string>
			<key>sourceSize</key>
			<string>{113, 39}</string>
		</dict>
		<key>settings_bar_brown.png</key>
		<dict>
			<key>frame</key>
			<string>{{506, 248}, {180, 42}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {180, 42}}</string>
			<key>sourceSize</key>
			<string>{180, 44}</string>
		</dict>
		<key>settings_bar_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{688, 248}, {180, 42}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {180, 42}}</string>
			<key>sourceSize</key>
			<string>{180, 44}</string>
		</dict>
		<key>settings_music_mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{264, 292}, {260, 118}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {260, 118}}</string>
			<key>sourceSize</key>
			<string>{260, 120}</string>
		</dict>
		<key>settings_sounds_mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 292}, {260, 118}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {260, 118}}</string>
			<key>sourceSize</key>
			<string>{260, 120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
