<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>button_about_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1430, 558}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 12}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_about_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 402}, {498, 78}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 78}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_back_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 482}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 12}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_back_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{1546, 84}, {498, 78}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 78}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_classic_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1046, 164}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 12}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_classic_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{1046, 84}, {498, 78}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 78}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_continue_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{978, 402}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 14}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_continue_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{502, 240}, {498, 78}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 78}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_facebook_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1265, 634}, {222, 74}}</string>
			<key>offset</key>
			<string>{2, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {222, 74}}</string>
			<key>sourceSize</key>
			<string>{230, 78}</string>
		</dict>
		<key>button_facebook_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{800, 634}, {235, 78}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {235, 78}}</string>
			<key>sourceSize</key>
			<string>{239, 78}</string>
		</dict>
		<key>button_finish_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{478, 482}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 12}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_finish_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{502, 322}, {498, 78}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 78}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_mainmenu_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1430, 482}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 12}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_mainmenu_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002, 240}, {498, 78}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 78}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_molemadness_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{478, 558}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 12}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_molemadness_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{1502, 240}, {498, 78}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 78}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_newstory_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1454, 402}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 14}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_newstory_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 240}, {498, 80}}</string>
			<key>offset</key>
			<string>{-1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 80}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_nextlevel_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1522, 164}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 12}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_nextlevel_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 322}, {498, 78}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 78}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_play_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{954, 482}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 14}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_play_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{1546, 2}, {498, 80}}</string>
			<key>offset</key>
			<string>{-1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 80}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_playagain_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{502, 402}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 14}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_playagain_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{1046, 2}, {498, 80}}</string>
			<key>offset</key>
			<string>{-1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 80}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_settings_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{954, 558}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 12}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_settings_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{1502, 322}, {498, 78}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 78}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_timeattack_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 558}, {474, 74}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 12}, {474, 74}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_timeattack_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002, 322}, {498, 78}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10, 10}, {498, 78}}</string>
			<key>sourceSize</key>
			<string>{520, 100}</string>
		</dict>
		<key>button_twitter_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{1489, 634}, {214, 74}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 3}, {214, 74}}</string>
			<key>sourceSize</key>
			<string>{226, 78}</string>
		</dict>
		<key>button_twitter_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{1037, 634}, {226, 78}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {226, 78}}</string>
			<key>sourceSize</key>
			<string>{226, 78}</string>
		</dict>
		<key>settings_bar_brown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 634}, {397, 93}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {397, 93}}</string>
			<key>sourceSize</key>
			<string>{397, 97}</string>
		</dict>
		<key>settings_bar_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 634}, {397, 93}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {397, 93}}</string>
			<key>sourceSize</key>
			<string>{397, 97}</string>
		</dict>
		<key>settings_music_mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{524, 2}, {520, 236}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {520, 236}}</string>
			<key>sourceSize</key>
			<string>{520, 240}</string>
		</dict>
		<key>settings_sounds_mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {520, 236}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {520, 236}}</string>
			<key>sourceSize</key>
			<string>{520, 240}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
	</dict>
</dict>
</plist>
