<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>button_about_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 266}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_about_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{758, 102}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_back_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{482, 186}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_back_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{758, 44}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_classic_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 226}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_classic_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{506, 44}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_continue_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 226}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 7}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_continue_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 102}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_facebook_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{600, 306}, {105, 35}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {105, 35}}</string>
			<key>sourceSize</key>
			<string>{117, 39}</string>
		</dict>
		<key>button_facebook_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{366, 306}, {117, 39}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {117, 39}}</string>
			<key>sourceSize</key>
			<string>{117, 39}</string>
		</dict>
		<key>button_mainmenu_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{482, 266}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 6}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_mainmenu_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{506, 2}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_molemadness_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 266}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_molemadness_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{254, 144}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_newstory_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 186}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 6}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_newstory_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{506, 102}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_nextlevel_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{722, 266}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 6}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_nextlevel_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 144}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_play_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{242, 186}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 6}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_play_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{254, 102}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_playagain_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{482, 226}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 7}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_playagain_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{506, 144}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_settings_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{722, 186}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_settings_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{758, 2}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_timeattack_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{722, 226}, {238, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 5}, {238, 38}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_timeattack_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{758, 144}, {250, 40}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {250, 40}}</string>
			<key>sourceSize</key>
			<string>{260, 50}</string>
		</dict>
		<key>button_twitter_active.png</key>
		<dict>
			<key>frame</key>
			<string>{{707, 306}, {103, 35}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 2}, {103, 35}}</string>
			<key>sourceSize</key>
			<string>{113, 39}</string>
		</dict>
		<key>button_twitter_static.png</key>
		<dict>
			<key>frame</key>
			<string>{{485, 306}, {113, 39}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {113, 39}}</string>
			<key>sourceSize</key>
			<string>{113, 39}</string>
		</dict>
		<key>settings_bar_brown.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 306}, {180, 42}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {180, 42}}</string>
			<key>sourceSize</key>
			<string>{180, 44}</string>
		</dict>
		<key>settings_bar_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{184, 306}, {180, 42}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {180, 42}}</string>
			<key>sourceSize</key>
			<string>{180, 44}</string>
		</dict>
		<key>settings_music_mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{254, 2}, {250, 98}}</string>
			<key>offset</key>
			<string>{1, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 3}, {250, 98}}</string>
			<key>sourceSize</key>
			<string>{260, 110}</string>
		</dict>
		<key>settings_sounds_mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {250, 98}}</string>
			<key>offset</key>
			<string>{1, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6, 3}, {250, 98}}</string>
			<key>sourceSize</key>
			<string>{260, 110}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
