<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MMSoundsVolume</key>
	<real>1</real>
	<key>MMMusicVolume</key>
	<real>1</real>
	<key>MMLastLevel</key>
	<integer>0</integer>
	<key>MMGarden</key>
	<true/>
	<key>MMCountry</key>
	<false/>
	<key>MMGolf</key>
	<false/>
	<key>MMIntro</key>
	<false/>
</dict>
</plist>
