<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoundsVolume</key>
	<real>1</real>
	<key>MusicVolume</key>
	<real>1</real>
	<key>LastLevel</key>
	<integer>0</integer>
	<key>Garden</key>
	<true/>
	<key>Country</key>
	<true/>
	<key>Golf</key>
	<true/>
	<key>Intro</key>
	<true/>
</dict>
</plist>
